* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v127_12 {
  width: 100%;
  height: 472px;
  background: rgba(9,11,27,1);
  margin: 45px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v127_14 {
  width: 369px;
  height: 471px;
  background: url("../images/v127_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px 30px;
  margin: 60px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_15 {
  width: 309px;
  height: 208px;
  background: url("../images/v127_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v127_18 {
  width: 80px;
  height: 80px;
  background: url("../images/v127_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_19 {
  width: 309px;
  height: 98px;
  background: url("../images/v127_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v127_20 {
  width: 309px;
  height: 29px;
  background: url("../images/v127_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v127_22 {
  width: 223px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_25 {
  width: 309px;
  height: 60px;
  background: url("../images/v127_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 0px;
  overflow: hidden;
}
.v127_26 {
  width: 310px;
  color: rgba(255,255,255,0.75);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_28 {
  width: 309px;
  height: 143px;
  background: url("../images/v127_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 30px;
  overflow: hidden;
}
.v127_29 {
  width: 309px;
  height: 1px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_30 {
  width: 309px;
  height: 30px;
  background: url("../images/v127_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v127_31 {
  width: 6px;
  height: 18px;
  background: url("../images/v127_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_32 {
  width: 6px;
  height: 6px;
  background: rgba(214,249,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v127_33 {
  width: 284px;
  height: 30px;
  background: url("../images/v127_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v127_35 {
  width: 121px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_37 {
  width: 309px;
  height: 1px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
  overflow: hidden;
}
.v127_38 {
  width: 309px;
  height: 30px;
  background: url("../images/v127_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 0px;
  overflow: hidden;
}
.v127_39 {
  width: 6px;
  height: 18px;
  background: url("../images/v127_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_40 {
  width: 6px;
  height: 6px;
  background: rgba(214,249,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v127_41 {
  width: 284px;
  height: 30px;
  background: url("../images/v127_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v127_43 {
  width: 175px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_45 {
  width: 309px;
  height: 1px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 0px;
  overflow: hidden;
}
.v127_46 {
  width: 309px;
  height: 30px;
  background: url("../images/v127_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v127_47 {
  width: 6px;
  height: 18px;
  background: url("../images/v127_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_48 {
  width: 6px;
  height: 6px;
  background: rgba(214,249,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v127_49 {
  width: 284px;
  height: 30px;
  background: url("../images/v127_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v127_51 {
  width: 171px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_53 {
  width: 1px;
  height: 472px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 415px;
  overflow: hidden;
}
.v127_55 {
  width: 369px;
  height: 471px;
  background: url("../images/v127_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px 30px;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 461px;
  overflow: hidden;
}
.v127_56 {
  width: 309px;
  height: 208px;
  background: url("../images/v127_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v127_59 {
  width: 80px;
  height: 80px;
  background: url("../images/v127_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_60 {
  width: 309px;
  height: 98px;
  background: url("../images/v127_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v127_61 {
  width: 309px;
  height: 29px;
  background: url("../images/v127_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v127_63 {
  width: 175px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_66 {
  width: 309px;
  height: 60px;
  background: url("../images/v127_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 0px;
  overflow: hidden;
}
.v127_67 {
  width: 310px;
  color: rgba(255,255,255,0.75);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_69 {
  width: 309px;
  height: 143px;
  background: url("../images/v127_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 30px;
  overflow: hidden;
}
.v127_70 {
  width: 309px;
  height: 1px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_71 {
  width: 309px;
  height: 30px;
  background: url("../images/v127_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v127_72 {
  width: 6px;
  height: 18px;
  background: url("../images/v127_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_73 {
  width: 6px;
  height: 6px;
  background: rgba(214,249,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v127_74 {
  width: 284px;
  height: 30px;
  background: url("../images/v127_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v127_76 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_78 {
  width: 309px;
  height: 1px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
  overflow: hidden;
}
.v127_79 {
  width: 309px;
  height: 30px;
  background: url("../images/v127_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 0px;
  overflow: hidden;
}
.v127_80 {
  width: 6px;
  height: 18px;
  background: url("../images/v127_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_81 {
  width: 6px;
  height: 6px;
  background: rgba(214,249,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v127_82 {
  width: 284px;
  height: 30px;
  background: url("../images/v127_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v127_84 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_86 {
  width: 309px;
  height: 1px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 0px;
  overflow: hidden;
}
.v127_87 {
  width: 309px;
  height: 30px;
  background: url("../images/v127_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v127_88 {
  width: 6px;
  height: 18px;
  background: url("../images/v127_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_89 {
  width: 6px;
  height: 6px;
  background: rgba(214,249,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v127_90 {
  width: 284px;
  height: 30px;
  background: url("../images/v127_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v127_92 {
  width: 144px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_94 {
  width: 1px;
  height: 472px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 875px;
  overflow: hidden;
}
.v127_96 {
  width: 369px;
  height: 471px;
  background: url("../images/v127_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px 30px;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 921px;
  overflow: hidden;
}
.v127_97 {
  width: 309px;
  height: 208px;
  background: url("../images/v127_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v127_100 {
  width: 80px;
  height: 80px;
  background: url("../images/v127_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_101 {
  width: 309px;
  height: 98px;
  background: url("../images/v127_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v127_102 {
  width: 309px;
  height: 29px;
  background: url("../images/v127_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v127_104 {
  width: 251px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_107 {
  width: 309px;
  height: 60px;
  background: url("../images/v127_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 0px;
  overflow: hidden;
}
.v127_108 {
  width: 310px;
  color: rgba(255,255,255,0.75);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_110 {
  width: 309px;
  height: 143px;
  background: url("../images/v127_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 30px;
  overflow: hidden;
}
.v127_111 {
  width: 309px;
  height: 1px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_112 {
  width: 309px;
  height: 30px;
  background: url("../images/v127_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v127_113 {
  width: 6px;
  height: 18px;
  background: url("../images/v127_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_114 {
  width: 6px;
  height: 6px;
  background: rgba(214,249,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v127_115 {
  width: 284px;
  height: 30px;
  background: url("../images/v127_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v127_117 {
  width: 171px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_119 {
  width: 309px;
  height: 1px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
  overflow: hidden;
}
.v127_120 {
  width: 309px;
  height: 30px;
  background: url("../images/v127_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 0px;
  overflow: hidden;
}
.v127_121 {
  width: 6px;
  height: 18px;
  background: url("../images/v127_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_122 {
  width: 6px;
  height: 6px;
  background: rgba(214,249,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v127_123 {
  width: 284px;
  height: 30px;
  background: url("../images/v127_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v127_125 {
  width: 238px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v127_127 {
  width: 309px;
  height: 1px;
  background: rgba(255,255,255,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 0px;
  overflow: hidden;
}
.v127_128 {
  width: 309px;
  height: 30px;
  background: url("../images/v127_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v127_129 {
  width: 6px;
  height: 18px;
  background: url("../images/v127_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_130 {
  width: 6px;
  height: 6px;
  background: rgba(214,249,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v127_132 {
  width: 284px;
  height: 30px;
  background: url("../images/v127_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v127_133 {
  width: 166px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
