.name_, .cryption, .fixed_limit_, .val-30m, .soft_cap_, .val-28m, .exchange_, .val-1eth, .currency_, .eth__btc, .min_purchase_, .val-0-1eth, .starts_, .december_4__9_00_am_, .ends_, .february_27__11_59_pm_, .sold_cro_token {
  letter-spacing: -0.2px;
}

.buy_tokens_now, .buy_tokens_now-1 {
  letter-spacing: 1.96px;
}

.container-14 {
  gap: 130px;
}

.container-18, .container-21, .container-28 {
  filter: blur(0.13747799396514893px);
}

.container-19, .container-22, .container-29 {
  filter: blur(3px);
}

.val-6523 {
  letter-spacing: -1.28px;
}

.val-1-cryptos {
  letter-spacing: -1.6px;
}

.container-31 {
  gap: 30px;
}

.fun_distribution {
  letter-spacing: -0.48px;
}

.contingency__70_ {
  letter-spacing: 0.48px;
}

.investor__30_ {
  letter-spacing: 0.48px;
}

.legal___regulation__10_ {
  letter-spacing: 0.48px;
}

.container-41 {
  gap: 30px;
}

.token_distribution {
  letter-spacing: -0.48px;
}

.business_development__10_ {
  letter-spacing: 0.48px;
}

.poland__8_ {
  letter-spacing: 0.48px;
}

.czech_republic__15_ {
  letter-spacing: 0.48px;
}

.val-20-advisors {
  letter-spacing: 0.48px;
}

.val-8-founders {
  letter-spacing: 0.48px;
}

.one_api__all_stablecoin_transactions_ {
  letter-spacing: -1.44px;
}
.container-5 { transform: rotate(-63deg); }
.container-6 { transform: rotate(-52.322deg); }
.image__icon_ { transform: rotate(-57.489deg); }
.container-7 { gap: 130px; }
.\30 6 { letter-spacing: -0.42px; }
.earn_rewards { letter-spacing: -0.48px; }
.container-10 { gap: 130px; }
.\30 5 { letter-spacing: -0.42px; }
.automate_flow { letter-spacing: -0.48px; }
.container-13 { transform: rotate(50deg); }
.container-14 { transform: rotate(47.112deg); }
.image__icon_-3 { transform: rotate(47.468deg); }
.container-15 { transform: rotate(-150deg); }
.container-16 { transform: rotate(-144.368deg); }
.image__icon_-4 { transform: rotate(-142.02deg); }
.container-17 { gap: 130px; }
.connect_wallet { letter-spacing: -0.48px; }
.\30 1 { letter-spacing: -0.42px; }
.container-20 { gap: 130px; }
.track_activity { letter-spacing: -0.48px; }
.\30 4 { letter-spacing: -0.42px; }
.container-24 { transform: rotate(50deg); }
.container-25 { transform: rotate(47.112deg); }
.image__icon_-8 { transform: rotate(47.468deg); }
.container-26 { gap: 130px; }
.select_asset { letter-spacing: -0.48px; }
.\30 2 { letter-spacing: -0.42px; }
.container-29 { gap: 130px; }
.transfer_funds { letter-spacing: -0.48px; }
.\30 3 { letter-spacing: -0.42px; }
.container-32 { transform: rotate(165deg); }
.container-33 { transform: rotate(161.361deg); }
.image__icon_-11 { transform: rotate(157.777deg); }
.container-34 { transform: rotate(120deg); }
.container-35 { transform: rotate(128.97deg); }
.image__icon_-12 { transform: rotate(125.435deg); }
